@import 'reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'メイリオ';
}

section {
  text-align: center;
}

.title {
  position: relative;
  padding: 20px 0;
  font-size: 2rem;
  margin-bottom: 24px;

  &::after {
    position: absolute;
    width: 80px;
    height: 8px;
    content: '';
    background: #0000ff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.text-shadow-default {
  text-shadow: -1px -1px 0 #fff;
}

.text-shadow-bold {
  text-shadow: 2px 2px 0 #fff;
}